.carousel {
    padding: 15px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}
.quote {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.scroller {
    overflow-x: hidden;
    display: flex;
}
.item {
    min-width: 100%;
    background-color: white;
    margin-bottom: 10px;
}
.item img {
    width: fit-content;
    height: 400pt;
    pointer-events: none;
}
.item:hover {
    cursor: pointer;
}
.card {
    background-color: rgb(237, 242, 247);
    padding: 80px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.card p {
    font-style: italic;
    line-height: 1.6;
    font-size: x-large;
}
.card span {
    display: block;
    margin-top: 20px;
    color: teal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
}
.carousel .btn {
    position: absolute;
    top: 45%;
    height: 4vh;
    width: 4vh;
    border-radius: 4vh;
    font-size: 2vh;
    background-color: rgba(95, 106, 117, 0.3);
    z-index: 1;
    line-height: 4vh;
    text-align: center;
    color: white;
    font-weight: bold;
}
.carousel .btn:hover{
    background-color: rgba(95, 106, 117, 0.5);
    cursor: pointer;
}
.carousel .btn.next {
    right: 15px;
}
.carousel .btn.prev {
    left: 15px;
}
.pageBtnContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.pageBtn {
    margin: 10pt;
    width: 1.5vh;
    height: 1.5vh;
    background-color: teal;
    border-radius: 1.5vh;
    border: 0px
}